/* banner */
.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/hero.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.hero-text-box {
  width: 100%;
  height: 100%;
  background-color: #30303040;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-banner h1 {
  font-weight: 700;
  color: white;
}

/* office section */

/* #svg-office{

} */

#content-section-centered{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.content-section{
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#svg-office {
  flex: 60%;
  max-height: 90%;
}

/* team section */
.team-text-section {
  max-width: 100%;
  flex: 40%;
  display: flex;
  flex-direction: column;
}

.team-text-section p{
  text-justify: inter-word;
  text-align: justify;
}


.team-text-section-item{
  margin: 10px 0;
}


@media(max-width: 800px) {
  .team-text-section {
    padding: 0 5%;
  }

  .content-section {
    display: block;
  }
}
