.pf-index {
  position: relative;
  left: 10px;
  height: 250px;
  width: 20%;
  background-color: #303030;
  z-index: -1;
}

.pf-child {
  position: relative;
  left: 10px;
  height: 250px;
  width: 20%;
  background-color: #797979;
  z-index: -1;

}

.inside {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
  z-index: auto;
  position: absolute;
  padding-left: 20px;
}

.inside-normal {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
  margin-top: 10px;
}

i {
  font-size: 3rem !important;
  color: aliceblue;
  font-weight: 600;
}


#pointer p{
  z-index: 1;

  position: relative;
  top: 75px;
}

i.fas.fa-caret-right{
  font-size: 3.5rem !important;
  z-index: 1;
  position: relative;
  top: 63px;
  right: 2px;
  font-weight: 600;
}

i#caret-right-white.fas.fa-caret-right{
  color: white;
}

i#caret-right-black.fas.fa-caret-right{
  color: #303030;
}
