.pf-wrapper {
  display: flex;
  width: 85%;
  margin: 50px 0;
}

.pf-index {
  position: relative;
  left: 10px;
  height: 250px;
  width: 20%;
  background-color: #303030;
  z-index: -1;
}

.pf-child {
  position: relative;
  left: 10px;
  height: 250px;
  width: 20%;
  background-color: #797979;
  z-index: -1;
  margin-left: 1px;
}

.inside {
  text-align: center;
  color: white;
  height: 100%;
  z-index: auto;
  position: absolute;
  padding-left: 20px;
}

.inside-normal {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
  margin-top: 10px;
}

.inside-normal >p {
  margin-top: 0px;
}

i {
  font-size: 3rem !important;
  color: aliceblue;
  font-weight: 600;
}

#pointer {
  height: 0px;
  margin-top: 50px;
}

#pointer-child{
  height: 0px;
  margin-top: 50px;
}

/* #pointer-child > h3 {
  margin: 15px;
}

#pointer-child > p {
  margin-top: 35px;
}

#pointer p{
  margin-top: 30px;
} */

i.fas.fa-caret-right{
  font-size: 3.8rem !important;
  z-index: 1;
  position: relative;
  top: 10px;
  right: 6px;
  font-weight: 600;
}

i#caret-right-white.fas.fa-caret-right{
  color: white;
}

i#caret-right-black.fas.fa-caret-right{
  color: #303030;
}
