@import "components/prefooter.css";
@import "components/cards.css";
@import "components/navbar.css";
@import "components/buttons.css";
@import "components/footer.css";
@import "components/newsletter.css";
@import "components/content.css";



body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  font-size: large;
  color: rgb(91, 148, 148);
  text-decoration: none;
  padding: 16px 16px 0 16px;
  transition: 0.4s ease-in-out;
}

li > a:hover {
  border-bottom: solid 1px #303030;
}
